@page
@model PrivacyModel
@{
    ViewData["Title"] = "How To Use";
}
<h1>@ViewData["Title"]</h1>

<p>Bem-vindo ao programa de interação com Banco de Dados e Excel.<br />Para podermos começar é necessário que você possua os arquivos corretos para utilização do aplicativo.</p>

